*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* header st  */
.adventure{
    font-size: 16px;
    font-weight: 400;
    display: block;
}
.nav-item{
    cursor: pointer !important;
}
.nav-item:hover{
    border-bottom:1px solid #fb2259!important;
}

.active{
    color: #fb2259 !important;
}
.nav-link:hover{
    color: #fb2259 !important;
}
.colourful-span{
    display: block;
    width: 100px;
    height: 5px;
    border-radius: 8px;
    background-color: #fb2259;
    margin: auto;
}
.heading-one{
    font-size: 63px;
}
.button-one{
    display: block;
    background-color: #fb2259;
    padding: 12px 25px;
    border: 0;
    border-radius: 8px;
    margin: auto;
}
.button-one:hover{
    background-color: #bc103b;
}
.colourful{
    margin: 150px 0;
}
header{
    background-image: url('./dawn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.411);
    background-blend-mode: multiply;
    padding: 14px 0;
}
/* header end  */

section{
    margin-top: 50px;
}
/* UPCOMING section st  */
.upcoming-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    background: linear-gradient(360deg, #fafdff, rgb(216, 233, 245),rgb(227, 243, 255),#fafdff ); 
}
.upcoming-child{
    width: 30%;
}

.upcoming-child img{
    width:100%;
    box-shadow: 10px 10px rgb(191, 190, 190);
    border-radius: 7px;
}

.upcoming-child p{
    font-size: 18px;
}

.upcoming-child a{
    display: block;
    text-decoration: none;
    color: #fb2259;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top: 15px;
}
/* UPCOMING section end  */

/* Explore section st  */
.explore{
    background-image: url(../image/father.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(52, 161, 240);
    background-blend-mode: multiply;
    padding: 150px 0;
    margin-top: 100px;
    color: white;
    background-attachment: fixed;
}
.explore-parent{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}
.explore-child{
    width: 50%;
}
.explore-child h1{
    font-size: 60px;
    font-weight: bold;
}

.explore-span{
    display: block;
    width: 100px;
    height: 5px;
    border-radius: 8px;
    background-color: #fb2259;
}
.explore-child a{
    display: block;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
/* Explore section end  */

/* UPCOMING TOURS section st  */
.tours{
    display: flex;
    justify-content: center;
    flex-direction:row;
    gap: 10px;
    background: linear-gradient(360deg, #fafdff, rgb(216, 233, 245),rgb(227, 243, 255),#fafdff ); 
}

.tours-child{
    flex-basis: 30%;
    margin:0 10px ;
}
.tours-child-two{
    flex-basis: 40%;
}
.tours-child a{
    display: block;
    text-decoration: none;
    color: #fb2259;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.gallery{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 110px;
}
.box{
    background-size: cover;
    background-position:top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode:hard-light;
    transition: all 2s ease-in-out;
    cursor: pointer;
}
.box:hover{
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px #fff;
}
.gall-2 {
    grid-row: span 2;
}
.akon-2 {
    grid-row: span 3;
}
/* UPCOMING TOURS section end  */



footer{
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    margin-top: 100px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials :hover i{
    color: aqua;
}
.footer-bottom{
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}




@media (max-width: 992px){
    .upcoming-child{
        width: 35%;
    }
}


@media (max-width: 768px){
    .tours{
        display: flex;
        justify-content: center;
        flex-direction:column-reverse;
        gap: 10px;
    }
    .heading-one{
        font-size: 40px;
    }
}
@media (max-width: 688px){
    .upcoming-parent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .upcoming-child{
        width: 90%;
    }
    .heading-one{
        font-size: 30px;
    }
    .explore-child-n{
        /* display: none; */
    }
    .explore-child{
        width: 100%;
        padding: 20px;
    }
    .explore-child h1{
        font-size: 18px;
        font-weight: bold;
    }
}
